{{ if (eq .chezmoi.os "linux") -}}
#! /bin/bash

if ! command -v brew &> /dev/null
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

if ! command -v apt &> /dev/null
then
    if ! command -v oh-my-posh &> /dev/null
    then
        sudo apt install -y unzip
        curl -s https://ohmyposh.dev/install.sh | bash -s
    fi
    
    
    if ! command -v zsh &> /dev/null
    then
        sudo apt install -y zsh
        chsh -s $(which zsh)
    fi
fi


if ! command -v dnf &> /dev/null
then
    if ! command -v oh-my-posh &> /dev/null
    then
        sudo dnf install -y unzip
        curl -s https://ohmyposh.dev/install.sh | bash -s
    fi
    
    
    if ! command -v zsh &> /dev/null
    then
        sudo dnf install -y zsh
        chsh -s $(which zsh)
    fi
fi

if command -v brew &> /dev/null
then
    brew install fzf bat eza zsh-syntax-highlighting
fi

{{ end }}
