{{ if (eq .chezmoi.os "linux") -}}
#! /bin/bash

if ! command -v brew &> /dev/null
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

if ! command -v oh-my-posh &> /dev/null
then
    curl -s https://ohmyposh.dev/install.sh | bash -s
fi

sudo apt install zsh

brew install fzf bat

chsh -s $(which zsh)

if test -n "$ZSH_VERSION"; then
    source ~/.zshrc
elif test -n "$BASH_VERSION"; then
    source ~/.bashrc
fi
{{ end }}